
<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
    <a class="menu-item" href="@Url.Action("Add", "Worker")">
        <i class="fa fa-users"></i>
        <span>
            HIT-ის ძებნა
        </span>
    </a>
</div>
<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
    <a class="menu-item" href="@Url.Action("Hits", "Worker")">
        <i class="fa fa-home"></i>
        <span>
            ჩემი HIT-ები
        </span>
    </a>
</div>
<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
    <a class="menu-item" href="@Url.Action("My", "Worker")">
        <i class="fa fa-certificate"></i>
        <span>
            ჩემი გვერდი
        </span>
    </a>
</div>